@charset "utf-8";
/* Общие установки меню */
#centeredmenu {
	clear:both;
	float:left;
	margin:0;
	padding:0;
	width:100%;
	font-size:11px; /* Размер текста меню */
	z-index:1000;  /* Так выпадающие подпункты будут выводиться поверх содержимого страницы, расположенного ниже меню */
	position:relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	box-sizing: border-box;
	font-weight: 300;
}

/* Основные пункты меню */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#centeredmenu ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	position:relative;
	right:50%;
}
#centeredmenu ul li {
	margin:0 0 0 1px;
	padding:0;
	float:left;
	position:relative;
	left:50%;

}
#centeredmenu ul li a {
	display:block;
	margin:0;
	padding: 6px 10px;
	font-size:1em;
	line-height:1em;
	text-decoration:none;
	text-transform: uppercase;
}
#centeredmenu ul li a,
#centeredmenu ul li a { /* Данная строка требуется для IE 6  */
}

/* Подпункты */
#centeredmenu ul ul {
	display:none; /* Подпункты скрыты по умолчанию */
	position:absolute;
	left:0;
	float:left;
	right:auto; /* Сбрасываем установки свойства right:50% родительского элемента ul */
}
#centeredmenu ul ul li {
	left:auto;  /*Сбрасываем установки свойства left:50% родительского элемента li */
	margin:0; /* Reset the 1px margin from the top menu */
	clear:left;
	float:left;
	width:100%;
}
#centeredmenu ul ul li a,
#centeredmenu ul li.active li a,
#centeredmenu ul li:hover ul li a,
#centeredmenu ul li.hover ul li a { /* Данная строка требуется для IE 6 */
	font-size: 10px;
	font-weight:normal; /* Сбрасываем установки жирного шрифта для пунктов верхнего уровня меню */
	text-transform: uppercase;
	line-height:1.4em; /* Изменяем значение значение свойства line-height */
	float:left;
	width:100%;
}
#centeredmenu ul ul li a:hover,
#centeredmenu ul li.active ul li a:hover,
#centeredmenu ul li:hover ul li a:hover,
#centeredmenu ul li.hover ul li a:hover { /* Данная строка требуется для IE 6 */
	float:left;
}

/* Переставляем последнее подменю так, что оно находится внутри страницы */
#centeredmenu ul ul.last {
	left:auto; /* Сбрасываем значение свойства left:0; */
	right:0; /* Устанавливаем значение для свойства right */
}
#centeredmenu ul ul.last li {
	float:right;
	position:relative;
	right:.8em;
}

/* Выводим подменю при наведении курсора мыши на пункт основного меню */
#centeredmenu ul li:hover ul,
#centeredmenu ul li.hover ul { /*Данная строка требуется для IE 6 */
	display:block; /* Выводим подменю */
	background:#fff; /* Цвет фона основных пунктов меню */
}
A {
		color: #585858; /* Цвет ссылок */
		text-decoration: none;
   }
   A:visited {
		color: #585858; /* Цвет посещенных ссылок */
		text-decoration: none;
   }
   A:active {
		color: #585858; /* Цвет активных ссылок */
		text-decoration: none;
   }
   A:hover {
		color: #000000;
		text-decoration: none;
		transition: 3s;
	}